*{
    margin: 0;
    padding: 0;
}
.Header
{
    position: fixed;
    box-shadow:  2px 2px rgb(174, 15, 15);
    padding-bottom: 13px;
    background-color: rgb(104, 170, 216);
    width: 100%;
    height: 85px;
    margin-top: -140px;
}

.Header img 
{
   width: 100px;
   height: 100px;
   margin-left: 80px;
   margin-top: 6px;
}
.Headername
{
    color:rgb(10, 58, 65) ;
    font-size: 35px;
    margin-left: 165px;
    margin-top: -70px;
    font-weight: 600;
}
.headerhedding
{
    margin-top: -60px;
    margin-left: 400px;
}
menu
{
    margin-left: 600px;
    width: 810px;
    padding-bottom: 10px;
}
.headerhedding input{
    width: 140px;
    height: 40px;
    background-color: transparent;
    font-size: 25px;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.headerhedding input:hover
{
    color:red;
    cursor: pointer;
}

form
{
    text-align: center;
    margin-top: -20px;
}
.f1
{
    margin-top:-10px;
    margin-left:100px;
}

  
  input{
      width:750px;
      height:55px; 
      margin-top: 10px;
      border: 1px solid silver;}
.s 
{
    margin-top:60px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.f1 textarea {
    width:750px; 
    height:100px;
    margin-top: 10px;
    border:1px solid silver;
}
h1 {
    font-size: 2.5rem;
    margin-top: 140px;
    color: darkred;
    margin-left: 40px;
}

h2 {
    margin-top:80px;
    margin-left: -530px;
    color: firebrick;
}

h2 p
{
    margin-top:80px;
    margin-left: 240px;
    color: firebrick;
}

h2 pp
{
    margin-top:80px;
    margin-left: 700px;
    color: firebrick; 
}
.s input {
    color: #8b6348;
    border:1px solid silver;
    border-radius: 10px;
    font-size: xx-large;
    margin-left: 100px;
}
.s input:hover
{
    background-color: rgb(181, 163, 163);
    cursor: pointer;
}